<h1 id="tableLabel">Employees</h1>

Search Employee:
<form class="form-inline my-2 my-lg-0" (ngSubmit)="searchEmployee(search.value)">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #search>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<br />

<p *ngIf="!employees"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employees.length > 0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contract Type</th>
            <th>Hourly Salary</th>
            <th>Monthly Salary</th>
            <th>Year Salary</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.contractTypeName }}</td>
            <td>{{ employee.hourlySalary }}</td>
            <td>{{ employee.monthlySalary }}</td>
            <td>{{ employee.yearSalary }}</td>
            <td>{{ employee.roleName }}</td>
        </tr>
    </tbody>
</table>